//Plan details

.plan-section{
    width: 100%;
    position: relative;
    .plan-cards{
        z-index: 0;
    }
    .plan-details{
        z-index: 4;
        background-color: #eae8e8;
        position: absolute;
        width: 100%;
        min-height: 400px;
        //top: 0;
        top: 30%;
       // display: none;
       visibility: hidden;
        transition: all .5s linear;
        height: 100%;
        opacity: 0;
        &.show-details{
            visibility: visible;
           // display: block;
           top: 0;
            opacity: 1;
        }

    }
    .details-title{
        position: relative;
        display: inline-block;
        padding: 10px;
        overflow: hidden;
        color: #fff;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
    }
              
    .details-title:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background: #5dc963;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        transform: skew(-45deg);
        z-index: -1;
    }

   .details-content{
        padding: 10px 0px 0px 0px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        >.plan-details-box{
            width: 100%;
            float: left;
            .plan-price{
                width: 100%;
                font-size: 24px;
                font-weight: bold;
                padding: 0px 10px 10px 10px;
                text-align: center;
                color: #34495e;
                border-bottom: 1px solid #d2d7e2;
                >.per{
                  font-size: 16px;
                  font-weight: normal;
                  font-style: italic;
                }
            }
            .plan-description{
                width: 100%;
                >ul{
                  list-style: none;
                  padding: 0px;
                  margin: 0px;
                  
                  border-bottom: 1px solid #d2d7e2;
                  >li{
                        display: inline;
                      padding-left: 20px;
                      padding-right: 20px;
                      padding-top: 8px;
                      padding-bottom: 8px;
                    @media screen and (max-width:500px){
                        display: block;
                    }
                  }
                }
            }
            
        }

        .details-description{
            width: 100%;
            float: left;
            background-color: #faf6f6;
            border-radius: 0px;
            padding: 20px;
            font-size: 13px;
            font-weight: 530;
            color: #34495e;
            text-align: justify;
        }
    }
}

.developers{
    width: 100%;
    float: left;
    .developers-title{
        width: 100%;
        font-size: 18px;
        font-weight: 550;
        padding: 10px 20px 0px 20px; 
        >span{
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
        }
    }
   
}



.cv-container{
    background-color: #faf6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    margin: auto !important;
}

.skills{
    >.skills-header{
        width: 100%;
        border-bottom: 3px solid #5dc963;
        padding: 0px;
        margin: 0px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        >h1{
            font-size: 20px;
            font-weight: bold;
            padding: 0px;
            margin: 0px;
            color: #34495e;
            float: left;
        }
        >.level{
            float: right;
        }
        
    }
    >.skills-row{
        padding: 10px;
        border-bottom: 2px solid #e7eaed;
        >.title{
            >h3{
                padding: 0px;
                margin: 0px;
                font-size: 16px;
                font-weight: bold;
                color: #5e5d5d;
                padding-bottom: 10px;
            }
        }
        >.skills-list{
            width: 100%;
        }
    }
}




.listing{
    >.header{
        width: 100%;
        border-bottom: 3px solid #5dc963;
        padding: 0px;
        margin: 0px;
        >h1{
            font-size: 20px;
            font-weight: bold;
            padding: 0px;
            margin: 0px;
            color: #34495e;
        }
        
    }
}

 .group{
        padding: 10px;
        width: 100%;
        border-bottom: 2px solid #e7eaed;
        >.title{
            padding: 0px;
            margin: 0px;
            font-size: 16px;
            font-weight: bold;
            color: #5e5d5d;
        }
        >.date{
            font-size: 12px;
            font-weight: 520;
            font-style: italic;
            color: #5e5d5d;
        }
        >.description{
            font-size: 14px;
            font-weight: 520;
            color: #333333;
        }
    }


.details-footer{
    background-color: #eae8e8;
    padding: 20px;
    >.buttons-container{
        text-align: right;
        width: 100%;
        background-color: #eae8e8;
        >.btn{
            margin-top: 20px;
        }
    }
}

.close-details{
    >span{
        font-size: 40px !important;
    }
}