.skills-row:after {
    content: "";
    display: table;
    clear: both;
}

.skill-name{
    float: left;
    margin: 2px;
    color: #fefefe;
    padding-top: 3px;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    &:hover{
        text-decoration: none;
        color: #fefefe;
    }
    &.s-1{
        background-color: #e8910d; 
    }
    &.s-2{
        background-color: #44cceb; 
    }
    &.s-3{
        background-color: #2dbf64; 
    }
    &.s-4{
        background-color: #2098d1; 
    }
}
