

.developers{
    >::-webkit-scrollbar {
        width: 7px;
        height: 7px;;
      }
      
      /* Track */
    >::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
    >::-webkit-scrollbar-thumb {
        background: #5dc963; 
        border-radius: 10px;
    }
      
      /* Handle on hover */
    >::-webkit-scrollbar-thumb:hover {
        background: #00aaee; 
    }
}
.dev-group{
    position: relative;
    margin-bottom: 5px;
    .group-title{
        position: relative;
        top: 10px;
        color: #34495e;
        font-weight: 550;
        background-color: #eae8e8;
        display: inline;
        border-radius: 8px;
        margin-left: 3px;
    }
    .dev-list{
        border: 2px solid #5dc963;
        border-radius: 8px;
        display: flex;
        padding-top: 10px;
        margin-right: 10px;
    }
    
}

.group-plus{
    color: #34495e;
    font-weight: 550;
    font-size: 25px;
    margin: 30px;
    position: relative;
    top: 55px;
}

.list-of-developers {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    background-color: #eae8e8;
    padding: 5px 20px 0px 20px;
    display: flex;
     &:after {
        content: "";
        display: table;
        clear: both;
    }
    .thumnail-box-container {
        padding: 5px;
        display: inline-block;
        .thumbnail-box {
            cursor: pointer;
            width: 130px;
            background-color: #fefefe;
            border: 1px solid #f3dede;
            border-radius: 8px;
            margin: 0px;
            @include easeOut;
            &.active {
                border-bottom: 4px solid #4285f4;
                box-shadow: 2px 4px 4px 4px rgb(145, 141, 141);
                .profile-img {
                    width: 100%;
                    height: 130px;
                    >img {
                        width: 100%;
                        height: 130px;
                        border-radius: 8px;
                    }
                }
            }
            &:hover {
                box-shadow: 2px 4px 4px 4px rgb(145, 141, 141);
            }
            .profile-img {
                width: 80%;
                @include easeOut;
                margin: auto;
                >img {
                    width: 100%;
                    height: 100px;
                    border-radius: 8px;
                }
            }
            .info {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 10px;
                font-size: 10px;
                font-weight: bold;
                >.name {
                    font-weight: bold;
                }
                >.position {
                    font-style: italic;
                }
            }
        }
    }

}