* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.top-section {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.48, #5dc963), color-stop(0.74, #6bd371));
}

.top-section:after {
  content: "";
  display: table;
  clear: both;
}

.top-section > .img-container {
  float: right;
  width: 40%;
  padding-right: 20px;
}

.top-section > .img-container > img {
  width: 100%;
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .top-section > .img-container {
    width: 50%;
  }
}

@media screen and (max-width: 799px) {
  .top-section > .img-container {
    width: 100%;
    padding-left: 20px;
  }
}

.top-section > .description {
  float: left;
  width: 60%;
  position: relative;
}

.top-section > .description > .title-container {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  color: #fff;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.top-section > .description > .title-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  background: #304357;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}

.top-section > .description > .short-description {
  font-size: 16px;
  color: #1e1e1e;
  text-align: justify;
  padding-left: 20px;
  padding-right: 10px;
  color: #304357;
  font-weight: 530;
  width: 100%;
}

.top-section > .description > .slogan {
  font-size: 36px;
  color: #304357;
  font-weight: bold;
  padding-left: 20px;
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .top-section > .description {
    width: 50%;
  }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
  .top-section > .description {
    width: 100%;
  }
  .top-section > .description > .title-container {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .top-section > .description > .title-container:after {
    width: 300px;
  }
  .top-section > .description > .short-description {
    font-size: 14px;
    padding-right: 20px;
  }
  .top-section > .description > .slogan {
    font-size: 24px;
  }
}

@media screen and (max-width: 399px) {
  .top-section > .description {
    width: 100%;
    padding-right: 20px;
  }
  .top-section > .description > .title-container {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .top-section > .description > .title-container:after {
    width: 300px;
  }
  .top-section > .description > .short-description {
    font-size: 12px;
  }
  .top-section > .description > .slogan {
    font-size: 24px;
  }
}

.plan-section {
  width: 100%;
}

.plan-section > .plan-cards h1 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #5dc963;
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .plan-section > h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
  .plan-section > h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 399px) {
  .plan-section > h1 {
    font-size: 14px;
  }
}

.plan-section .plan-container {
  width: 1000px;
  margin: auto;
}

.plan-section .plan-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  .plan-section .plan-container {
    width: 500px;
  }
}

@media screen and (max-width: 499px) {
  .plan-section .plan-container {
    width: 250px;
  }
}

.plan-section .plan-container > .plan-box {
  position: relative;
  top: 10px;
  float: left;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 1px solid #b2b5b8;
  width: 250px;
  cursor: pointer;
}

.plan-section .plan-container > .plan-box:hover {
  z-index: 3;
  top: 5px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.plan-section .plan-container > .plan-box:hover .plan-title:after {
  background: #405a75;
}

.plan-section .plan-container > .plan-box.active {
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  top: 0px;
  z-index: 2;
}

.plan-section .plan-container > .plan-box.active .plan-title:after {
  background: #304357;
}

.plan-section .plan-container > .plan-box > .plan-title {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.plan-section .plan-container > .plan-box > .plan-title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5dc963;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}

.plan-section .plan-container > .plan-box .plan-price {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  color: #34495e;
  border-bottom: 1px solid #d2d7e2;
}

.plan-section .plan-container > .plan-box .plan-price > .per {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.plan-section .plan-container > .plan-box .plan-description {
  width: 100%;
}

.plan-section .plan-container > .plan-box .plan-description > ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.plan-section .plan-container > .plan-box .plan-description > ul > li {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d7e2;
}

.plan-section .plan-container > .plan-box .plan-description > ul > li:nth-of-type(odd) {
  background-color: #e9e9f9;
}

.plan-section .plan-container > .plan-box .plan-description > ul > li:hover {
  border-left: 3px solid #5dc963;
}

.plan-section .plan-container > .plan-box .plan-footer {
  text-align: center;
  padding: 10px;
}

.contact-section {
  overflow: hidden;
  text-align: center;
  color: #fefefe;
  font-weight: 550;
}

#contactus {
  color: #304357 !important;
  font-weight: bold !important;
}

.msg-container {
  width: 100%;
  top: -5%;
  left: -5%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  background-color: #5dc963;
  padding: 20px;
}

.msg-container .msg {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  font-size: 36px;
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .msg-container .msg {
    font-size: 26px;
  }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
  .msg-container .msg {
    font-size: 18px;
  }
}

@media screen and (max-width: 399px) {
  .msg-container .msg {
    font-size: 14px;
  }
}

.msg-container .msg a {
  text-decoration: none;
}

.btn {
  font-family: inherit;
}

.modal-title {
  font-size: 20px;
  font-weight: 550;
  color: #333333;
}

.modal-header {
  position: relative;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-content {
  border-radius: 0px !important;
}

.plan-section {
  width: 100%;
  position: relative;
}

.plan-section .plan-cards {
  z-index: 0;
}

.plan-section .plan-details {
  z-index: 4;
  background-color: #eae8e8;
  position: absolute;
  width: 100%;
  min-height: 400px;
  top: 30%;
  visibility: hidden;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  height: 100%;
  opacity: 0;
}

.plan-section .plan-details.show-details {
  visibility: visible;
  top: 0;
  opacity: 1;
}

.plan-section .details-title {
  position: relative;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.plan-section .details-title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #5dc963;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}

.plan-section .details-content {
  padding: 10px 0px 0px 0px;
}

.plan-section .details-content:after {
  content: "";
  display: table;
  clear: both;
}

.plan-section .details-content > .plan-details-box {
  width: 100%;
  float: left;
}

.plan-section .details-content > .plan-details-box .plan-price {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
  text-align: center;
  color: #34495e;
  border-bottom: 1px solid #d2d7e2;
}

.plan-section .details-content > .plan-details-box .plan-price > .per {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.plan-section .details-content > .plan-details-box .plan-description {
  width: 100%;
}

.plan-section .details-content > .plan-details-box .plan-description > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #d2d7e2;
}

.plan-section .details-content > .plan-details-box .plan-description > ul > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 500px) {
  .plan-section .details-content > .plan-details-box .plan-description > ul > li {
    display: block;
  }
}

.plan-section .details-content .details-description {
  width: 100%;
  float: left;
  background-color: #faf6f6;
  border-radius: 0px;
  padding: 20px;
  font-size: 13px;
  font-weight: 530;
  color: #34495e;
  text-align: justify;
}

.developers {
  width: 100%;
  float: left;
}

.developers .developers-title {
  width: 100%;
  font-size: 18px;
  font-weight: 550;
  padding: 10px 20px 0px 20px;
}

.developers .developers-title > span {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}

.cv-container {
  background-color: #faf6f6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  margin: auto !important;
}

.skills > .skills-header {
  width: 100%;
  border-bottom: 3px solid #5dc963;
  padding: 0px;
  margin: 0px;
}

.skills > .skills-header:after {
  content: "";
  display: table;
  clear: both;
}

.skills > .skills-header > h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: #34495e;
  float: left;
}

.skills > .skills-header > .level {
  float: right;
}

.skills > .skills-row {
  padding: 10px;
  border-bottom: 2px solid #e7eaed;
}

.skills > .skills-row > .title > h3 {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #5e5d5d;
  padding-bottom: 10px;
}

.skills > .skills-row > .skills-list {
  width: 100%;
}

.listing > .header {
  width: 100%;
  border-bottom: 3px solid #5dc963;
  padding: 0px;
  margin: 0px;
}

.listing > .header > h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: #34495e;
}

.group {
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #e7eaed;
}

.group > .title {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #5e5d5d;
}

.group > .date {
  font-size: 12px;
  font-weight: 520;
  font-style: italic;
  color: #5e5d5d;
}

.group > .description {
  font-size: 14px;
  font-weight: 520;
  color: #333333;
}

.details-footer {
  background-color: #eae8e8;
  padding: 20px;
}

.details-footer > .buttons-container {
  text-align: right;
  width: 100%;
  background-color: #eae8e8;
}

.details-footer > .buttons-container > .btn {
  margin-top: 20px;
}

.close-details > span {
  font-size: 40px !important;
}

.developers {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.developers > ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.developers > ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.developers > ::-webkit-scrollbar-thumb {
  background: #5dc963;
  border-radius: 10px;
}

.developers > ::-webkit-scrollbar-thumb:hover {
  background: #00aaee;
}

.dev-group {
  position: relative;
  margin-bottom: 5px;
}

.dev-group .group-title {
  position: relative;
  top: 10px;
  color: #34495e;
  font-weight: 550;
  background-color: #eae8e8;
  display: inline;
  border-radius: 8px;
  margin-left: 3px;
}

.dev-group .dev-list {
  border: 2px solid #5dc963;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-right: 10px;
}

.group-plus {
  color: #34495e;
  font-weight: 550;
  font-size: 25px;
  margin: 30px;
  position: relative;
  top: 55px;
}

.list-of-developers {
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  background-color: #eae8e8;
  padding: 5px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-of-developers:after {
  content: "";
  display: table;
  clear: both;
}

.list-of-developers .thumnail-box-container {
  padding: 5px;
  display: inline-block;
}

.list-of-developers .thumnail-box-container .thumbnail-box {
  cursor: pointer;
  width: 130px;
  background-color: #fefefe;
  border: 1px solid #f3dede;
  border-radius: 8px;
  margin: 0px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.list-of-developers .thumnail-box-container .thumbnail-box.active {
  border-bottom: 4px solid #4285f4;
  -webkit-box-shadow: 2px 4px 4px 4px #918d8d;
          box-shadow: 2px 4px 4px 4px #918d8d;
}

.list-of-developers .thumnail-box-container .thumbnail-box.active .profile-img {
  width: 100%;
  height: 130px;
}

.list-of-developers .thumnail-box-container .thumbnail-box.active .profile-img > img {
  width: 100%;
  height: 130px;
  border-radius: 8px;
}

.list-of-developers .thumnail-box-container .thumbnail-box:hover {
  -webkit-box-shadow: 2px 4px 4px 4px #918d8d;
          box-shadow: 2px 4px 4px 4px #918d8d;
}

.list-of-developers .thumnail-box-container .thumbnail-box .profile-img {
  width: 80%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
}

.list-of-developers .thumnail-box-container .thumbnail-box .profile-img > img {
  width: 100%;
  height: 100px;
  border-radius: 8px;
}

.list-of-developers .thumnail-box-container .thumbnail-box .info {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
}

.list-of-developers .thumnail-box-container .thumbnail-box .info > .name {
  font-weight: bold;
}

.list-of-developers .thumnail-box-container .thumbnail-box .info > .position {
  font-style: italic;
}

.skills-row:after {
  content: "";
  display: table;
  clear: both;
}

.skill-name {
  float: left;
  margin: 2px;
  color: #fefefe;
  padding-top: 3px;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.skill-name:hover {
  text-decoration: none;
  color: #fefefe;
}

.skill-name.s-1 {
  background-color: #e8910d;
}

.skill-name.s-2 {
  background-color: #44cceb;
}

.skill-name.s-3 {
  background-color: #2dbf64;
}

.skill-name.s-4 {
  background-color: #2098d1;
}
/*# sourceMappingURL=styles.css.map */