*{
    box-sizing: border-box;
    margin: 0;
}

@mixin easeOut() {
    transition: all 0.5s ease-out;
}


.top-section{
    padding-top: 20px;
    padding-bottom: 20px;    
    width: 100%;
    position: relative;
    z-index: 0;
    background-image: -webkit-gradient(
         linear,
         left top,
         left bottom,
         color-stop(0.48, #5dc963),
         color-stop(0.74, #6bd371)
    );
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    >.img-container{
        float: right;
        width: 40%;
        padding-right: 20px;
        >img{
            width: 100%;
        }
        @media screen and (min-width:800px) and (max-width:999px){
           width: 50%;
          
        }
        @media screen and (max-width:799px){
            width: 100%;
            padding-left: 20px;
        }
    }
    >.description{
        float: left;
        width: 60%;
        position: relative;
      
        >.title-container{
            @include easeOut;
            position: relative;
            display: inline-block;
            padding-left: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
            overflow: hidden;
            color: #fff;
            width: 100%;
            font-size: 24px;
            font-weight: bold;
        }
        >.title-container:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 100%;
            background: #304357;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            -webkit-transform: skew(-45deg);
            -ms-transform: skew(-45deg);
            transform: skew(-45deg);
            z-index: -1;
        }
        >.short-description{
            font-size: 16px;
            color: #1e1e1e;
            text-align: justify;
            padding-left: 20px;
            padding-right: 10px;
            color: #304357;
            font-weight: 530;
            width: 100%;
        }
        >.slogan{
            font-size: 36px;
            color: #304357;
            font-weight: bold;
            padding-left: 20px;
        }
        @media screen and (min-width:800px) and (max-width:999px){
            width: 50%;
        }
        @media screen and (min-width:400px) and (max-width:799px){
             width: 100%;
             >.title-container{
                font-size: 14px;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            >.title-container:after {
                width: 300px;
            }
            >.short-description{
                font-size: 14px;
                padding-right: 20px;
            }
            >.slogan{
                font-size: 24px;
            }
        }
        @media screen and (max-width:399px){
            width: 100%;
            padding-right: 20px;
            >.title-container{
                font-size: 14px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            >.title-container:after {
                width: 300px;
            }
            >.short-description{
                font-size: 12px;
            }
            >.slogan{
                font-size: 24px;
            }
        }
    }
}

//Plan section
.plan-section{
    width: 100%;
    >.plan-cards h1{
        text-align: center;
        font-size: 34px;
        font-weight: bold;
        color: #5dc963;
    }

    @media screen and (min-width:800px) and (max-width:999px){
        >h1{
            font-size: 30px;
        }
    }
    @media screen and (min-width:400px) and (max-width:799px){
        >h1{
            font-size: 22px;
        }
    }
    @media screen and (max-width:399px){
        >h1{
            font-size: 14px;
        }
    }
  
    .plan-container{
        width: 1000px;
        margin: auto;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        @media screen and (min-width:500px) and (max-width:999px){
            width: 500px;
        }
        @media screen and (max-width:499px){
            width: 250px;
        }
        >.plan-box{
            position: relative;
            top: 10px;
            float: left;
            @include easeOut;
            border: 1px solid #b2b5b8;
            width: 250px;
            cursor: pointer;
            &:hover{
                z-index: 3;
                top: 5px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                .plan-title:after {
                    background: #405a75;
                 }
            }
            &.active{
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                top: 0px;
                z-index: 2;
               .plan-title:after {
                   background: #304357;
                }
            }
            >.plan-title{
                @include easeOut;
                position: relative;
                display: inline-block;
                padding: 10px;
                overflow: hidden;
                color: #fff;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
            }
              
            >.plan-title:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #5dc963;
                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transform: skew(-45deg);
                -ms-transform: skew(-45deg);
                transform: skew(-45deg);
                z-index: -1;
            }
            .plan-price{
                  width: 100%;
                  font-size: 24px;
                  font-weight: bold;
                  padding: 5px;
                  text-align: center;
                  color: #34495e;
                  border-bottom: 1px solid #d2d7e2;
                  >.per{
                    font-size: 16px;
                    font-weight: normal;
                    font-style: italic;
                  }
            }
            .plan-description{
                  width: 100%;
                  >ul{
                    width: 100%;
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    >li{
                        transition: all 0.2s ease-out;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-bottom: 1px solid #d2d7e2;
                        &:nth-of-type(odd) {
                            background-color: #e9e9f9 ;
                        }
                        &:hover{
                            border-left: 3px solid #5dc963;
                        }
                    }
                  }
              }
              .plan-footer{
                  text-align: center;
                  padding: 10px;
              }

              
        }

    }
}




//Contact Section

.contact-section {
    overflow:hidden;
    text-align: center;
    color: #fefefe;
    font-weight: 550;
}

#contactus{
    color: #304357 !important;
    font-weight: bold !important;
}
  
.msg-container {
    width:100%;
    top:-5%;
    left:-5%;
    transform:rotate(2deg);
    background-color: #5dc963;
    padding: 20px;
  }
  
  .msg-container .msg {
    transform:rotate(-2deg);
    font-size: 36px;
    @media screen and (min-width:800px) and (max-width:999px){
        font-size: 26px;
    }
    @media screen and (min-width:400px) and (max-width:799px){
        font-size: 18px;
    }
    @media screen and (max-width:399px){
        font-size: 14px;
    }
  }

  .msg-container .msg a{
    text-decoration: none;
  }


  //modal design
  .btn{
    font-family: inherit;
}
.modal-title{
    font-size: 20px;
    font-weight: 550;
    color: #333333;
}
.modal-header{
    position: relative;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-content{
  border-radius: 0px !important;
}

  
@import 'plan-details';
@import 'thumb-nails';
@import 'skills-buttons';